
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
box-sizing: border-box;
}

header,
main,
footer {
overflow: hidden;
}

body {
background-color: #839cb5;;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 0;
padding: 0;
font-family: 'Righteous', cursive;;
}

header {
display: flex;
align-items: center;
background-color: #686466;
color: #fff;
padding: 10px;
}

.link {
flex: 0.1;
width: 15%;
height: 100px;
}

.logo {
flex: 0.5;
width: 100%;
height: 100px;
background-image: url("C:/Users/santiago/Desktop/popi 2/sitios/fotos/index/loigo.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 50%;
}

.titulo {
flex: 2;
text-align: center;
}
footer {
background-color: #686466;
color: #fff;
text-align: center;
padding: 10px;
}
.footer {
color: black;
background-color: #01000a;
display: grid;
grid-template-columns: 70% 15% 15%;
}

footer{
color: black;
background-color: #686466;
display: grid;
grid-template-columns: 70% 15% 15%;
}
.foot{
width: 100%;
height: 100px;
}
.f1{
display: flex;
align-items: center;
text-decoration: none;
}
.logo img {
  width: 100%;
  height: auto;
}
.contenedor {
  display: grid;
  grid-template-areas: 'art info info info';
  width: 100%;
  margin-bottom: 36px;
  margin-top: 36px;
}
.artistas{
  height: 1000px;
  margin-right: 15px;
  margin-left: 150px;
}
.a1, .a2, .a3, .a4, .a5{
  height: 200px;
  width: 100%;
  background-color: #686466;
  border: 5px solid black;
}
.a:hover{
  background-color: lightgrey;
  color: black;
}
.inf{
  display: grid;
  grid-template-areas: '';
  grid-area: info;
  height: 1000px;
}
.foto, .coment{
  background-color: white;
  border: 5px solid black;
}
.foto{
  width: 40%;
}
.coment{
  width: 66%
}
